body{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.qutu{
    max-width: calc(100% - 200px);

}
@media (max-width: 480px){
    .qutu{
        max-width: calc(100% - 20px);
    }
}
.operation{
    height: 60px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}
.text{
    text-align: center;
    color: green;
}